
#brand {
    font-weight: 600;
    font-size: 30px;
    font-weight: 500;
}


#navbarNav > ul {
    width: 600px;
} 

.container-md {
    padding: 30px;    
}

.content {
    margin: auto;
    padding: 30px;
}

.about > .intro {
    margin-bottom: 50px;
}

.about > .description {
    display: flex;
}
.about > .description > div {
    width: 50%;
}

.about > .stacks-section {
    margin-top: 100px;
}
.about > .stacks-section > h2{
    text-align: center;
}

.tech-stack {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.PERN {
    width: 400px;
}
.NET {
    width: 150px;
}
.LEN {
    width: 200px;
}

hr {
    width: 50%;
}

.experience {
    padding-top: 150px;
}
.experience > .card {
    flex-direction: column; 
    margin: 30px;
    padding: 20px;
    justify-items: center;
    align-items: center;
    border-radius: .75rem;
}
.experience > .card > .description {
    padding-left: 20px;
}

.projects {
    padding-top: 150px;
}
.projects > .card {
    flex-direction: column; 
    margin: 30px;
    padding: 20px;
    align-items: center;
    border-radius: .75rem;
}
.projects > .card > .description {
    padding-left: 20px;
}
.projects > .card > iframe {
    margin: 20px;
}
.projects > .card > .description > .links {
    width: 100px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
}

.projects .project-stack{
    padding-top: 20px;
}

.badge.large-badge {
    font-size: 1em;
}

@media screen and (min-width: 768px){
    .content {
        max-width: 720px;
    }    
}

@media screen and (min-width: 992px){
    .content {
        max-width: 960px;
    }
    .projects > .card {
        flex-direction: row;
    }
    .experience > .card {
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px){
    .content {
        max-width: 1140px;
    }
}