

#navbarNav > ul {
    width: 600px;
} 

.container-md {
    padding: 30px;    
}

.content {
    margin: auto;
    padding: 30px;
}

.tech-stack {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.PERN {
    width: 500px;
}
.NET {
    width: 200px;
}
.LEN {
    width: 300px;
}

hr {
    width: 50%;
}

.experience {
    padding-top: 150px;
}
.experience > .card {
    flex-direction: row; 
    padding: 20px;
}
.experience > .card > .description {
    padding-left: 20px;
}

.projects {
    padding-top: 150px;
}
.projects > .card {
    flex-direction: row; 
    padding: 20px;
}
.projects > .card > .description {
    padding-left: 20px;
}
.projects > .card > .description > .links {
    width: 200px;
    display: flex;
    justify-self: center;
    justify-content: space-around;
}


@media screen and (min-width: 768px){
    .content {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px){
    .content {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px){
    .content {
        max-width: 1140px;
    }
}