

#navbarNav > ul {
    width: 600px;
} 

.container-md {
    padding: 30px;    
}

.about{
    margin: auto;
    padding: 30px;
}

.tech-stack{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.PERN {
    width: 500px;
}
.NET {
    width: 200px;
}
.LEN {
    width: 300px;
}

@media screen and (min-width: 768px){
    .about {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px){
    .about {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px){
    .about {
        max-width: 1140px;
    }
}